# Session I: Data Types & Structures

## Data Types Showcase

### Integers

In [ ]:
x = 12
y = 5
print(f"x is {x}, y is {y}")

In [ ]:
z = x + y
print(f"Addition (x + y): {z}")

In [ ]:
z = x - y
print(f"Subtraction (x - y): {z}")

In [ ]:
z = x * y
print(f"Multiplication (x * y): {z}")

In [ ]:
z = x / y
print(f"Division (x / y): {z} (Result is always a float)")

In [ ]:
z = x // y
print(f"Floor Division (x // y): {z} (Discards fractional part)")

In [ ]:
z = x % y
print(f"Modulus/Remainder (x % y): {z}")

In [ ]:
z = x ** y
print(f"Exponentiation (x ** y): {z}")
# Note: The operator for exponentiation in Python is '**', not '^'

### Floats

In [ ]:
a = 3.14159
b = 2.5
print(f"a is {a}, b is {b}")

In [ ]:
c = a + b
print(f"Addition (a + b): {c}")

In [ ]:
c = a * b
print(f"Multiplication (a * b): {c}")

In [ ]:
c = a // b
print(f"Floor Division (a // b): {c} (Result is still a float if operands are floats)")

### Strings

In [ ]:
s1 = "Python"
s2 = 'Programming'
print(f"s1 is '{s1}', s2 is '{s2}'")

In [ ]:
s_concat = s1 + ' ' + s2
print(f"Concatenation: {s_concat}")

In [ ]:
s_length = len(s1)
print(f"Length of s1: {s_length}")

In [ ]:
s_repeat = s1 * 2
print(f"Repetition (s1 * 2): {s_repeat}")

In [ ]:
s_slice = s1[0:3]
print(f"Slicing (first 3 chars): {s_slice}")

### Booleans

In [ ]:
is_open = True
is_closed = False
print(f"is_open: {is_open}, is_closed: {is_closed}")

In [ ]:
result_or = is_open or is_closed
print(f"OR operation: {result_or}")

In [ ]:
result_and = is_open and is_closed
print(f"AND operation: {result_and}")

In [ ]:
result_not = not is_open
print(f"NOT operation: {result_not}")

In [ ]:
comparison = (x > y)
print(f"Comparison (x > y): {comparison}")

## Data Structures

### Lists

In [ ]:
my_list = [10, "apple", 3.14, True, 10]
print(f"Initial List: {my_list}")

In [ ]:
my_list.append("banana")
print(f"After append: {my_list}")

In [ ]:
element = my_list[1]
print(f"Element at index 1: {element}")

In [ ]:
my_list[0] = 99
print(f"After modifying index 0: {my_list}")

### Tuples

In [ ]:
my_tuple = (1, "two", 3.0, "two")
print(f"Initial Tuple: {my_tuple}")

In [ ]:
element = my_tuple[1]
print(f"Element at index 1: {element}")

In [ ]:
t_len = len(my_tuple)
print(f"Length of Tuple: {t_len}")

In [ ]:
try:
    my_tuple[0] = 55
except TypeError as e:
    print(f"Attempt to modify tuple failed: {e}")

### Sets

In [ ]:
my_set = {"a", "b", "c", "a", 1, 2}
print(f"Initial Set (duplicates removed, order may vary): {my_set}")

In [ ]:
my_set.add("d")
print(f"After adding 'd': {my_set}")

In [ ]:
my_set.discard("b")
print(f"After discarding 'b': {my_set}")

### Dictionaries

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(f"Initial Dictionary: {my_dict}")

In [ ]:
value = my_dict["age"]
print(f"Value for key 'age': {value}")

In [ ]:
my_dict["job"] = "Engineer"
print(f"After adding 'job': {my_dict}")

In [ ]:
my_dict["age"] = 31
print(f"After modifying 'age': {my_dict}")