# Challenges

## Tier I Problems (1 point each)

### ⭐ **Problem 01**
Assign `3749` to a variable named `seconds`, then print the number of hours and minutes **without** the multiplication or division operator.

### ⭐ **Problem 02**
Assume a savings account with an initial $1000. The owner adds $100 every month at 2.1% interest rate (calculated monthly). Print the amount saved after 2 years.

### ⭐ **Problem 03**
01/01/2025 fell on Wednesday. Compute what day of the week the 175th day of 2025 fell on.

### ⭐ **Problem 04**
Print your name exactly 11 times.

### ⭐ **Problem 05**
Print every multiple of 3 between 2 and 22.

### ⭐ **Problem 06**
Create a set with numbers 1-20. Remove all numbers divisible by 4 and print the remaining set.

## Tier II Problems (2 points each)

### ⭐ **Problem 07**
Create a list of dictionaries, each representing a person with name and age. Calculate the average age.

### ⭐ **Problem 08**
Write a function `reverse()` that takes in a string and returns the string reversed.

### ⭐ **Problem 09**
Create a function `leap_year_check()` that takes in a year and returns `True` if it's a leap year.

### ⭐ **Problem 10**
Write a function `greet_everyone()` that takes in a list of names and prints `"Hello, [name]!"` for all names on the list. The number of names is not specified ahead of time.

### ⭐ **Problem 11**
Write a function `prime_check()` that takes in an integer and returns `True` if the number is prime, `False` otherwise. (Hint: make sure to handle negative numbers and other edge cases.)

### ⭐ **Problem 12**
Create a function `find_common_elements()` that takes in two lists and returns a list of elements that appear in both lists.

## Tier III Problems (3 points each)

### ⭐ **Problem 13**
Write a function `fibonacci()` that takes in an integer `n` and returns the $n^{th}$ fibonacci number.

### ⭐ **Problem 14**
Write a function `find_largest()` that takes in a list of numbers and returns the largest number. (Hint: handle a list of all values equal.)

### ⭐ **Problem 15**
Create a function `ceasar_cipher()` that takes in a string and an integer `n`, and returns the string shifted by $n$ positions to the left. (Hint: handle cases where $n$ is larger than string length.)

### ⭐ **Problem 16**
Write a function `roman_to_int()` that converts Roman numerals to integers.

### ⭐ **Problem 17**

### ⭐ **Problem 18**