# Session III: Files, `pandas`, Visualisation

## Working with Data Using `pandas`

### Libraries

In [1]:
import pandas as pd

### Loading Files Using `pandas`

In [2]:
df = pd.read_csv('csvsample.csv')
df.head()

,Date,Category,Product,Region,Sales_Rep,Units_Sold,Unit_Price,Total_Sales,Cost_Per_Unit,Customer_Age,Customer_Satisfaction
0,2025-01-01,Electronics,Laptop,North,Alice,5,899.99,4499.95,650.0,34,4.5
1,2025-01-01,Electronics,Phone,South,Bob,8,599.99,4799.92,420.0,28,4.2
2,2025-01-01,Clothing,Jacket,East,Carol,12,79.99,959.88,45.0,42,4.8
3,2025-01-01,Furniture,Chair,West,David,6,149.99,899.94,85.0,51,3.9
4,2025-01-02,Electronics,Tablet,North,Alice,10,399.99,3999.90,280.0,29,4.6

### Manipulating Columns

In [3]:

df['Profit'] = df['Total_Sales'] - (df['Units_Sold'] * df['Cost_Per_Unit']) ## adding a new column
df.head()

,Date,Category,Product,Region,Sales_Rep,Units_Sold,Unit_Price,Total_Sales,Cost_Per_Unit,Customer_Age,Customer_Satisfaction,Profit
0,2025-01-01,Electronics,Laptop,North,Alice,5,899.99,4499.95,650.0,34,4.5,1249.95
1,2025-01-01,Electronics,Phone,South,Bob,8,599.99,4799.92,420.0,28,4.2,1439.92
2,2025-01-01,Clothing,Jacket,East,Carol,12,79.99,959.88,45.0,42,4.8,419.88
3,2025-01-01,Furniture,Chair,West,David,6,149.99,899.94,85.0,51,3.9,389.94
4,2025-01-02,Electronics,Tablet,North,Alice,10,399.99,3999.90,280.0,29,4.6,1199.90

In [ ]:
milk_sales = df[(df['Item'] == 'Milk') & (df['Type'] == 'Sale')] ## filtering
milk_sales.head()

In [ ]:
large_orders = df[df['Quantity'] > 50] ## more filtering
large_orders.head()

In [ ]:
value = df.loc[5, 'Item'] ## accessing a specific cell
print(value)

In [ ]:
value = df.iloc[2, 3]
print(value)

In [ ]:
sorted_asc = df.sort_values('Quantity')
sorted_asc.head()

In [ ]:
print(df['Quantity'].median())

In [ ]:
print(df['Quantity'].mean())

In [ ]:
print(df['Quantity'].std())

In [ ]:
print(df['Quantity'].min())

In [ ]:
print(df['Quantity'].quantile(0.25))

## Visualising Data

In [ ]:
import pandas as pd
import plotly.express as px

In [ ]:
df = pd.read_csv("csvsample.csv")
df.head()

In [ ]:
sales_by_product = df.groupby('Product')['Total_Sales'].sum().reset_index()
sales_by_product

In [ ]:
fig = px.bar(
    sales_by_product,
    y='Product',
    x='Total_Sales',
    title='Total Sales by Item',
    color='Product',
)

fig.show()

In [ ]:
grouped = df.groupby(['Category', 'Region'])['Total_Sales'].sum().reset_index()
grouped

In [ ]:
fig = px.bar(
    grouped,
    x='Category',
    y='Total_Sales',
    color='Region',
    barmode='group', ## 'stack' for stacked bars
    title='Total Sales by Category and Region',
    labels={'Total_Sales': 'Total Sales ($)'},
)

fig.show()

In [ ]:
daily_sales = df.groupby('Date')['Total_Sales'].sum().reset_index()
daily_sales

In [ ]:
fig = px.line(
    daily_sales,
    x='Date',
    y='Total_Sales',
    title='Sales Trend',
    labels={'Total_Sales': 'Total Sales ($)', 'Date': 'Date'}, 
    markers=True ## add markers to the line
)

fig.show()

In [ ]:
fig = px.scatter(
    df,
    x='Customer_Age',
    y='Customer_Satisfaction',
    title='Customer Age vs Customer Satisfaction',
    labels={'Customer_Age': 'Customer Age', 'Customer_Satisfaction': 'Customer Satisfaction Score'},
    color='Category',  ## will colour points based on category
    hover_data=['Product']  ## defines additional info on hover
)

fig.show()

In [ ]:
sales_by_rep = df.groupby('Sales_Rep')['Total_Sales'].sum().reset_index()
sales_by_rep

In [ ]:
fig = px.pie(
    sales_by_rep, ## rows in this table represent pie slices
    values='Total_Sales', ## size of each pie slice
    names='Sales_Rep', ## label for each pie slice
    title='Total Sales by Sales Representative', ## label for the chart
    hole=0.4,  ## replace w a bigger value (e.g., 0.4) for a donut chart
    hover_data=['Total_Sales'] ## additional info on hover
)

fig.show()